*{
    margin: 0;
}
body{
    background-image: url("./images/burger-bg.jpg");
    background-size: cover;
    color: white;
}

/* nav style */
.nav{
    padding: 1.5rem;
    background-color: rgba(0, 23, 43, 0.3);
    display: flex;
    justify-content: space-around;
}
.nav-ul{
    display: flex;
}
.nav-li{
    list-style: none;
    margin: 0 1vw;
}

/* home main  */
.home{
    margin: 1rem 10vw;
}
.welcome{
    font-size: 10vw;
}
.welcome-p{
    padding: 1rem;
    font-size: 2vw;
    background-color: rgba(0, 23, 43, 0.3);
}

/* footer  */
.footer{
    background-color: rgba(0, 23, 43, 0.3);
    padding: 0.2rem;
    margin-top: 40vh;
    text-align: center;
}